@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <a class="btn btn-primary" role="button" asp-controller="Pessoas" asp-action="Criar">Novo Cadastro</a>
        </div>
    </p>
</div>
