@model PessoaModel
@{
    ViewData["Title"] = "Editar";
}


<form asp-controller="Pessoas" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col">
            <label for="nome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Digite aqui">
        </div>
        <div class="col">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" asp-for="Sobrenome" class="form-control" id="sobrenome" placeholder="Digite aqui">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <label for="cpf">CPF</label>
            <input type="text" asp-for="CPF" class="form-control" id="cpf" placeholder="Digite aqui">
        </div>
        <div class="col">
            <label for="Celular">Celular</label>
            <input type="text" asp-for="Celular" class="form-control" id="Celular" placeholder="Digite aqui">
        </div>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Pessoas" asp-action="Index" role="button">Cancelar</a>

</form>

